@model WebBS.Models.IMP_ACCION

@{
    ViewBag.Title = "Edit";
    WebBS.Models.IMP_ACTIVIDAD_PLANIFICADA iMP_ACTIVIDAD_PLANIFICADA = (WebBS.Models.IMP_ACTIVIDAD_PLANIFICADA)TempData["ActividadPlanificada"];
}

<h2>Edición de Accion</h2>
<div id="divMensajeInformativo">
    <span class="fa fa-info-circle"></span>
    <span id="lblMensajeInformativo">Complete los campos para editar su acción.</span>
</div>
<hr />
@if (ViewBag.mensaje != null)
{

    foreach (var error in ((ModelStateDictionary)ViewBag.mensaje))
    {
        <p>@error.Key</p>
        foreach (var mensaje in @error.Value.Errors)
        {
            <p>@mensaje.ErrorMessage</p>
        }
    }
}
@using (Html.BeginForm("Edit", "BitacoraActividadPlanificada", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Actividad</h4>
        <table class="table-bordered">
            <tr class="rowGroup" data-toggle="collapse" data-target="#Panel_@iMP_ACTIVIDAD_PLANIFICADA.Cod_solicitud_gestion_permiso">
                <td>
                    <h4>Tipo : @iMP_ACTIVIDAD_PLANIFICADA.IMP_ACTIVIDAD.IMP_TIPO_ACTIVIDAD.Nombre</h4>
                    <h5>Actividad : @iMP_ACTIVIDAD_PLANIFICADA.Titulo</h5>
                    <p>Fecha cierre planificado: @iMP_ACTIVIDAD_PLANIFICADA.Fec_cierre_planificacion.ToString("dd/MM/yyyy")</p>
                </td>
            </tr>
        </table>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Cod_accion)
                @Html.HiddenFor(model => model.Cod_actividad_planificada)
                @Html.HiddenFor(model => model.Evidencia)
        
        <div class="form-group">
            <label class="control-label col-md-2" for="Fec_accion">Fecha de Acción</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.Fec_accion, new { htmlAttributes = new { @class = "form-control", id = "txtFechaAccion", required = "", placeholder = "Fecha de acción" } })

            </div>
            <div class="col-md-2">@Html.ValidationMessageFor(model => model.Fec_accion, "*", new { @class = "text-danger" })</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Evidencia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                <input type="file" name="inputFile" class="file" data-show-upload="false" data-allowed-file-extensions='["csv", "txt","xls","xlsx","jpg","png","gif","doc","docx","ppt","pptx","rar","zip"]' />
            </div>
            <div class="col-md-2">
                @Html.ValidationMessageFor(model => model.Evidencia, "*", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
               <a href="@Url.Content(Model.Evidencia)">Archivo Actual</a>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Observaciones, new { @class = "form-control", required = "", rows = "5", placeholder = "Agregar las observaciones o consideraciones", maxLength = "150" })
            </div>
            <div class="col-md-2">
                @Html.ValidationMessageFor(model => model.Observaciones, "*", new { @class = "text-danger" })
            </div>
        </div>
        <input type="hidden" name="Cod_usu_regi" value="1" />
        <input type="hidden" name="Fec_usu_regi" value="@Model.Fec_usu_regi" />
        <input type="hidden" name="Cod_usu_modi" value="1" />
        <input type="hidden" name="Fec_usu_modi" value="@System.DateTime.Now.ToString("dd/MM/yyyy")" />
       
     

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a id="btnCancelar" class="btn btn-default" href="@Url.Action("Index", "BitacoraActividadPlanificada",new  { Id=Model.Cod_actividad_planificada })">Cancelar</a>
            </div>
        </div>
    </div>
}

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/Controls")
<script>
        new Pe.GMD.UI.Web.Components.Calendar({
            inputFrom: $("#txtFechaAccion"),
            maxDateFrom: new Date,
            minDateFrom : '@iMP_ACTIVIDAD_PLANIFICADA.IMP_SOLICITUD_GESTION_PERMISO.IMP_SOLICITUD.Fec_emision.Value.ToString("dd/MM/yyyy")'
        });

</script>
}
