@model WebBS.Models.GCC_CLIENTE

@{
    ViewBag.Title = "DeleteConfirmed";
}

<h2>Confirmación de eliminación</h2>

<h3>Seguro que desea eliminar el cliente jurídico?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Codigo Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_cliente)
        </dd>

        <dt>
            RUC
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_doc_identidad)
        </dd>

        <dt>
            Dirección
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            Razón Social
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GCC_CLIENTE_JURIDICO.Razon_social)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" />
        </div>
    }
</div>
