@model WebBS.Models.RRH_RespuestaAutoevaluacion

@{
    ViewBag.Title = "Elaborar AutoEvaluación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Elaborar AutoEvaluación</h2>







    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Cod_criterio,"Criterio", new { @class = "control-label col-md-2" })
            <div class="col-md-6">

                @Html.DropDownListFor(model => model.Cod_criterio, @ViewBag.Cod_criterio as SelectList, "Seleccione", new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.Cod_criterio, "", new { @class = "text-danger" })


            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Respuesta, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Respuesta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Respuesta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Puntaje, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Puntaje, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Puntaje)

                
            </div>

            <input id="add" type="button" value="Agregar" class="btn btn-default" />
        </div>

        <fieldset>
            <div class="panel panel-default">
                <!-- Table -->
                <div id="orderItems" class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="0%" hidden="hidden"></th>
                                <th>Criterio</th>
                                <th>Alternativa</th>
                                <th>Puntaje</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                       @foreach (var i in ViewBag.Alternativas) { 
                            <tr>
                                <td class="cod_alternativa" width="0px" hidden="hidden">@i.Cod_resp_autoevaluacion</td>
                                <td>@i.Desc_criterio</td>
                                <td>@i.Respuesta</td>
                                <td>@i.Puntaje</td>
                                <td width="5%"><a href="#" class="delete"  title="">
    <i class="glyphicon glyphicon-remove"></i>
</a></td>
                                

                            </tr>
                       }
                            
                              
                            
                       

                    </table>
                </div>
            </div>
        </fieldset>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submit" type="button" value="Grabar AutoEvaluación" class="btn btn-default" />
            </div>
        </div>


    </div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")



    <script>

        $(document).ready(function () {

            var orderItems = [];
            var ItemsDeleted=[];



            var array = @Html.Raw(Json.Encode(@ViewBag.Alternativas));
for(var i = 0; i < array.length; i++) {
    orderItems[i] = array[i];
}


clickeliminar=function() {
    
    var storeId = $(this).closest('tr').find('td:first').text();

    var tr = $(this).closest('tr');
    tr.remove();
    
    ItemsDeleted.push({
        Cod_alternativa_autoevaluacion: storeId,
        Cod_criterio: 0,
        cod_operacion: 2,
        Desc_criterio: "",
        Respuesta: "",
        Puntaje: 0
    });

    orderItems.splice(tr,1);
}
$('.delete').click(clickeliminar);



            //Add button click function
            $('#add').click(function () {
                //Check validation of order item
                var isValidItem = true;




                //Add item to list if valid
                if (isValidItem) {
                    orderItems.push({
                        Cod_alternativa_autoevaluacion: 0,
                        Cod_criterio: parseInt($('#Cod_criterio').val()),
                        cod_operacion: 1,
                        Desc_criterio: $('#Cod_criterio option:selected').text(),
                        Respuesta: $('#Respuesta').val(),
                        Puntaje: parseInt($('#Puntaje').val())
                    });
                    

                    //Clear fields
                    $('#Respuesta').val('').focus();
                    $('#Cod_criterio,#Puntaje').val('');

                }
                //populate order items
                GeneratedItemsTable();

            });
            //Save button click function
            $('#submit').click(function () {





                //validation of order
                var isAllValid = true;
                if (orderItems.length == 0) {
                    $('#orderItems').html('<span style="color:red;">Ingrese preguntas para la Autoevaluación</span>');

                }

                

                orderItems=$.merge(orderItems,ItemsDeleted);


                //Save if valid

                    var data = {
                        //Cod_criterio: $('#Cod_criterio').val().trim(),
                        //Respuesta: $('#Respuesta').val().trim(),
                        //Sorry forgot to add Description Field
                        //Valor: $('#Valor').val().trim(),
                        OrderDetails: orderItems
                    }

                    $(this).val('Por favor espere...');

                    $.ajax({
                        url: '/AlternativaAutoEvaluacion/SaveOrder',
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function (d) {
                            //check is successfully save to database
                            if (d.status == true) {
                                //will send status from server side
                                alert('Autoevaluación Registrada.');
                                //clear form
                                //orderItems = [];
                                $('#Cod_criterio').val('');
                                $('#Respuesta').val('');
                                $('#Puntaje').val('');
                            }
                            else {
                                alert('Error');
                            }
                            $('#submit').val('Grabar Autoevaluación');
                        },
                        error: function () {
                            alert('Error. Por favor intente de nuevo.');
                            $('#submit').val('Grabar Autoevaluación');
                        }
                    });


            });
            //function for show added items in table
            function GeneratedItemsTable() {
                if (orderItems.length > 0) {
                    var $table = $('<table class="table table-striped table-bordered table-hover"/>');
                    $table.append('<thead><tr><th hidden="hidden"></th><th>Criterio</th><th>Respuesta</th><th>Valor</th><th>Eliminar</th></tr></thead>');
                    var $tbody = $('<tbody/>');
                    $.each(orderItems, function (i, val) {
                        var $row = $('<tr/>');
                        
                        $row.append($('<td class="cod_alternativa" width="0px" hidden="hidden">'+val.Cod_alternativa_autoevaluacion+'</td>'));
                        $row.append($('<td/>').html(val.Desc_criterio));
                        $row.append($('<td/>').html(val.Respuesta));
                        $row.append($('<td/>').html(val.Puntaje));
                        $row.append($('<td width="5%"><a href="#" onclick="clickeliminar();" class="delete" data-id="'+val.Cod_alternativa_autoevaluacion+'" title=""><i class="glyphicon glyphicon-remove"></i></a></td>'));


                        $tbody.append($row);
                    });
                    $table.append($tbody);
                    $('#orderItems').html($table);
                }
            }
        });



    </script>



}
