@model WebBS.Models.RRH_AlternativaAutoevaluacion

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>RRH_AlternativaAutoevaluacion</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Cod_alternativa_autoevaluacion)

        <div class="form-group">
            @Html.LabelFor(model => model.Respuesta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Respuesta)
                @Html.ValidationMessageFor(model => model.Respuesta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Valor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Valor)
                @Html.ValidationMessageFor(model => model.Valor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fec_creacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fec_creacion)
                @Html.ValidationMessageFor(model => model.Fec_creacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cod_usu_regi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cod_usu_regi)
                @Html.ValidationMessageFor(model => model.Cod_usu_regi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fec_usu_regi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fec_usu_regi)
                @Html.ValidationMessageFor(model => model.Fec_usu_regi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cod_usu_modi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cod_usu_modi)
                @Html.ValidationMessageFor(model => model.Cod_usu_modi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fec_usu_modi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fec_usu_modi)
                @Html.ValidationMessageFor(model => model.Fec_usu_modi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cod_criterio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cod_criterio)
                @Html.ValidationMessageFor(model => model.Cod_criterio)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
