@model WebBS.Models.RRH_ReferenciaLaboral
@{
    Layout = null;
}




@using (Ajax.BeginForm("CreateEditReferencias", "Candidato",
            new AjaxOptions()
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "ReferenciasDiv",
                OnSuccess="onSucess"
            }, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
      <div class="form-horizontal">
    <fieldset>
        <legend>Agregar Referencias</legend>
        @* <div style="color: Green; font-weight: bold">
                @ViewBag.Msg
            </div>*@
        @if (ViewBag.IsUpdate == true)
        {
            @Html.HiddenFor(model => model.Cod_ReferenciaLaboral)
        }
        


      

        <div class="form-group">
            @Html.LabelFor(model => model.Nom_Persona,"Nombre", new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Nom_Persona, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nom_Persona, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Nom_empresa,"Empresa", new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Nom_empresa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nom_empresa, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Puesto, new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Puesto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Puesto, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Telefono,"Celular", new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefono, "", new {@type="tel", @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new {@type="email", @class = "text-danger" })
            </div>
        </div>
    
        <br />

        <div style="float: right">
            @if (ViewBag.IsUpdate == true)
            {

                <button type="submit" id="btnUpdate" name="Command" value="Update" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Update</span>
                </button>
            }
            else
            {
               
            
                
                <button type="submit" id="btnSave" name="Command" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Agregar</span>
                </button>
                
            }
            &nbsp; &nbsp;
            <button type="button" id="btncancel" value="Cancelar" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text">Cancelar</span>
            </button>
        </div>



    </fieldset>
          </div>
    
    
    

}


<script type="text/javascript">
    
    $(document).ready(function () {

        $("#btncancel").on("click", function (e) {
            // location.reload(true);
            $("#dialog-edit").dialog('close');

        });


    });
</script>
