@model WebBS.Models.RRH_Candidato
@using WebBS.Models
    @{
        ViewBag.Title = "Create";
        Layout = "~/Views/Shared/_Layout.cshtml";

        
    }


<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />



<script type="text/javascript">
    $(document).ready(function () {

        $('.glyphicon-calendar').on('click', function () {
            $('.week-picker').focus()
        });

        $("#DNI").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });

        
        $("#CreateCustomer").on("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');
            $("#dialog-edit").dialog({
                title: 'Grado Académico',
                autoOpen: false,
                resizable: false,
                height: 500,
                width: 600,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);

                },
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });

            $("#dialog-edit").dialog('open');
            return false;


            function onSucess() {
                $("#dialog-edit").dialog('close');
            }

        });



      


        $(".editDialog").on("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');
            $("#dialog-edit").dialog({
                title: 'Edit Customer',
                autoOpen: false,
                resizable: false,
                height: 200,
                width: 400,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);

                },
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });

            $("#dialog-edit").dialog('open');
            return false;
        });

        $(".confirmDialog").on("click", function (e) {

            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');

            $("#dialog-confirm").dialog({
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                        window.location = url;

                    },
                    "Cancel": function () {
                        $(this).dialog("close");

                    }
                }
            });
            $("#dialog-confirm").dialog('open');
            return false;
        });

        $(".viewDialog").on("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');
            $("#dialog-view").dialog({
                title: 'View Customer',
                autoOpen: false,
                resizable: false,
                height: 250,
                width: 400,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);

                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");

                    }
                },
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });

            $("#dialog-view").dialog('open');
            return false;
        });

        





    });
</script>


<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
    <h2>Registrar Candidato</h2>


  
@using (Ajax.BeginForm("Create", "Candidato", new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
{
     @Html.AntiForgeryToken()
        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true)




            <div class="form-group">
                @Html.Label("Oferta Laboral", "Oferta", new { @class = "control-label col-md-2" })
                <div class="col-md-6">

                    @Html.DropDownListFor(model => model.Cod_ofertalaboral, @ViewBag.Cod_ofertalaboral as SelectList, "Seleccione", new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Cod_ofertalaboral, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ApellidoPaterno, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.ApellidoPaterno, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ApellidoPaterno, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ApellidoMaterno, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.ApellidoMaterno, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ApellidoMaterno, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DNI, new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.DNI, new { htmlAttributes = new { @class = "form-control", maxlength = "8" } })
                    @Html.ValidationMessageFor(model => model.DNI, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Telefono, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telefono)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Direccion, new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Direccion)
                </div>
            </div>

            <!-- 
                 <label for="file">Upload Image:</label>

                 <input type="submit" value="Upload" class="submit" />
             }-->



            <div class="form-group">
                @Html.LabelFor(model => model.Foto, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <!-- @Html.EditorFor(model => model.Foto)-->
                    <input type="file" name="file" id="file" style="width: 100%;" />

                    @Html.ValidationMessageFor(model => model.Foto)
                </div>
            </div>



            <div class="form-group">
                @Html.Label("Fecha Postulación", new { @class = "control-label col-md-2" })

                <div class="col-md-6">
                    @Html.EditorFor(model => model.Fec_postulacion, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Fec_postulacion)

                    </div>


                </div>

            <a id="CreateCustomer" href="..\Candidato\AdicionarGrado" title="">Agregar Grado</a>
            <div id="GradoDiv">
                @Html.Partial("_GridGrado")
            </div>
            <fieldset>
                <div class="panel panel-default">
                    <!-- Table -->
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Empresa</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Fin</th>
                                    <th>Agregar</th>

                                </tr>
                            </thead>

                         
                                <tr>
                                    <td>
                                     
                                    </td>
                                    <td>
                                   
                                    </td>
                                    <td>
                                     
                                    </td>
                                    <td class="text-right">
                                        <a href="" title="">
                                            <i class="glyphicon glyphicon-plus"></i>
                                         </a>

                                    </td>


                                </tr>
                          

                        </table>
                    </div>
                </div>
            </fieldset>


            <!--<div class="form-group">
                 @Html.LabelFor(model => model.Cod_usu_regi, new { @class = "control-label col-md-2" })
                 <div class="col-md-10">
                     @Html.EditorFor(model => model.Cod_usu_regi)
                     @Html.ValidationMessageFor(model => model.Cod_usu_regi)
                 </div>
             </div>

             <div class="form-group">
                 @Html.LabelFor(model => model.Fec_usu_regi, new { @class = "control-label col-md-2" })
                 <div class="col-md-10">
                     @Html.EditorFor(model => model.Fec_usu_regi)
                     @Html.ValidationMessageFor(model => model.Fec_usu_regi)
                 </div>
             </div>

             <div class="form-group">
                 @Html.LabelFor(model => model.Cod_usu_modi, new { @class = "control-label col-md-2" })
                 <div class="col-md-10">
                     @Html.EditorFor(model => model.Cod_usu_modi)
                     @Html.ValidationMessageFor(model => model.Cod_usu_modi)
                 </div>
             </div>

             <div class="form-group">
                 @Html.LabelFor(model => model.Fec_usu_modi, new { @class = "control-label col-md-2" })
                 <div class="col-md-10">
                     @Html.EditorFor(model => model.Fec_usu_modi)
                     @Html.ValidationMessageFor(model => model.Fec_usu_modi)
                 </div>
             </div>
                -->
           
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="btnRegistrar"  value="Grabar" class="btn btn-default" />
                    <input type="submit" name="btnRegistrarMas"  value="Grabar y Registrar Nuevo" class="btn btn-default" />
                    <input type="submit" name="btnCancelar" value="Cancelar" class="btn btn-default" />
                </div>

            </div>


        </div>
}
      
     <div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete ?
    </p>
</div>
<div id="dialog-edit" style="display: none">
</div>
<div id="dialog-view" style="display: none">

</div>


      
      
    

    <div>
        @Html.ActionLink("Ir a la Lista", "Index")
    </div>

   





    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")







       

    }
