@model WebBS.Models.GCC_SOLICITUD_CREDITO

@{
    ViewBag.Title = "Detalle de Solicitud de Crédito";
}

<h2>Detalle de Solicitud de Crédito</h2>

<div>
	<hr />
    <dl class="dl-horizontal">

        <dt>
            RUC
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GCC_CLIENTE_JURIDICO.GCC_CLIENTE.Num_doc_identidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GCC_CLIENTE_JURIDICO.Razon_social)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GCC_CLIENTE_JURIDICO.Razon_social)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fec_solicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fec_solicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num_solicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_solicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_actual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_actual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_cliente_str)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_cliente_str)
        </dd>  

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="@Url.Content("~/SolicitudDeCredito/Index")"><input type="button" value="<< Regresar" class="btn btn-default" /></a>
        </div>
    }
</div>
