@model PagedList.IPagedList<WebBS.Models.GCC_SOLICITUD_CREDITO>
@using PagedList.Mvc;
@using PagedList;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Consulta de Solicitud de Crédito";
}

<h2>Consulta de Solicitud de Crédito</h2>

@using (Html.BeginForm("Index", "SolicitudDeCredito", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    <div style="border:1px solid black;">
        <table style="width:100%">
            <tr>
                <td>Nro Solicitud Crédito</td>
                <td><input type="text" name="nroSolicitudCredito"></td>
                <td>RUC</td>
                <td><input type="number" name="ruc"></td>
                <td>Estado</td>
                <td><select name="estado"><option></option><option value="R">Registrado</option><option value="M">Modificado</option><option value="A">Aprobado</option><option value="O">Anulado</option><option value="Z">Rechazado</option><option value="C">Confirmado</option></select></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Fecha Solicitud Desde</td>
                <td><input type="date" name="fechaSolicitudInicio" /></td>
                <td>Hasta</td>
                <td><input type="date" name="fechaSolicitudFin" /></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="submit" value="Buscar" /></td>
                <td><button type="submit" value="Registrar" formaction="/SolicitudDeCredito/Create">Nuevo</button></td>
                <td></td>
            </tr>
        </table>

    </div>

}

<table class="table">
    <tr>
        <th>
            Nro de Solicitud
        </th>
        <th>
            RUC
        </th>
        <th>
            Razón Social
        </th>
        <th>
            Fecha Solicitud
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Num_solicitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GCC_CLIENTE_JURIDICO.GCC_CLIENTE.Num_doc_identidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GCC_CLIENTE_JURIDICO.Razon_social)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fec_solicitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado_actual)
        </td>
        <td>
            @Html.ActionLink("Detalle", "Details", new { id = item.Cod_solicitud_credito })

            @if (item.Estado_actual == "Registrado" || item.Estado_actual == "Modificado")
            {
                @Html.ActionLink("  Anular", "Delete", new { id = item.Cod_solicitud_credito })
            }
            
        </td>
    </tr>
}

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))