@model WebBS.Models.RRH_Usuario
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Acceso al sistema</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <!--<link href="../../Content/css/Site.css" rel="stylesheet" />-->
    <script src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
            background: url(../../Content/images/bg.png);
            background-color: #333; /*background-color:#0090D4;*/
        }

        div:focus, span:focus, button:focus {
            outline: none;
        }

        input[type='text'], input[type='password'], select, textarea {
            border: 1px solid #ccc;
        }

            input:focus, select:focus, textarea:focus {
                border-color: #ccc;
            }

            input[type='text'], input[type='password'], select, textarea, .form-control, input:focus, select:focus, textarea:focus, .well {
                box-shadow: none !important;
            }

        input[type='text'], input[type='password'], select, textarea, .panel, .input-group-addon, .form-control, .btn, .well, .alert, .progress {
            border-radius: 0 !important;
        }

            input:focus, select:focus, textarea:focus, .btn:focus, .btn:active:focus, .btn.active:focus {
                outline: 0 none !important;
            }

        .card-login {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 300px;
            margin-left: -150px;
            margin-top: -130px;
        }

        @@media screen and (max-width:768px) {
            .card-login {
                width: auto;
                position: initial;
                top: auto;
                left: auto;
                margin: 15px auto;
            }

            .login-opciones .btn {
                width: 100%;
            }
        }
    </style>
</head>
@using (Html.BeginForm("Autenticar", "Login", FormMethod.Post))
{
<body>
  
    <div class="container-fluid">
        <div class="card-login">
            <div class="logo form-group">
                <img src="../../Content/images/logo.png" class="img-responsive" />
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", htmlAttributes = new { placeholder = " Usuario" } })
                   
                    
                   
                </div>
                @Html.ValidationMessageFor(model => model.UserName, "", new { style = "color:white" })
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                    @Html.PasswordFor(model => model.Contrasena, new { @class = "form-control", htmlAttributes = new { placeholder = " Contraseña" } })
                 
                    
                </div>
                @Html.ValidationMessageFor(model => model.Contrasena, "", new { style = "color:white" })

                @if (ViewBag.Message != null)
                {
               <label style="color:white">@ViewBag.Message</label>
                }
            </div>
            <div class="form-group text-right login-opciones">
                <input type="submit" value="Iniciar sesión" class="btn btn-primary" />
              
            </div>
        </div>
    </div>
</body>
}
</html>



<script type="text/javascript">
    function navigate(target) {
        //Grab your values
        var UserName = document.getElementById('UserName').value;
        var Contrasenia = document.getElementById('Contrasenia').value;

        //Perform your navigation
        window.location.href = target + '?UserName=' + UserName + '&Contrasenia=' + Contrasenia;
    }

</script>