<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    <link href="~/fonts/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <link href="~/Content/css/Site.css" rel="stylesheet" />
    <link href="~/Scripts/toastr/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/toastr/toastr.min.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Content/js/util.js"></script>
    <script src="~/Content/js/app.js"></script>
    <script type="text/javascript">
        var urlPath = '@Url.Content("~")';
        toastr.options = { "progressBar": false, "positionClass": "toast-bottom-right", "closeButton": true, "showMethod": "slideDown" }
    
    
   
    
    </script>

    <script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        
        @:alert('@TempData["notice"]');
    }
    

  
    </script>
</head>
<body>
    <div class="wrapper">
        <div class="box">
            <div class="row row-offcanvas row-offcanvas-left">
                <!-- sidebar -->
                <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
                    <ul class="nav">
                        <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                    </ul>
                    <ul class="nav hidden-xs" id="lg-menu">
                        <li class="active">
                            <a><i class="glyphicon glyphicon-list-alt"></i> Gestión de Inventarios</a>
                            <ul>
                                <li>
                                    <a href="~/NotaIngreso/Crear">
                                        <i class="glyphicon glyphicon-plus"></i> <span>Registrar nota de ingreso</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Picking/SeleccionarPedido">
                                        <i class="glyphicon glyphicon-plus"></i> <span>Realizar Picking de Pedidos</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="glyphicon glyphicon-list"></i> Gestión de Distribución de Productos</a>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="glyphicon glyphicon-plus"></i> <span>Asignación de chofer a vehículo</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Inventario/Index">
                                        <i class="glyphicon glyphicon-plus"></i> <span>Generación de Hoja de Ruta</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="glyphicon glyphicon-list"></i> Recursos Humanos</a>
                            <ul>
                                <li>
                                    <a href="~/OfertaLaboral/Create">
                                        <i class="glyphicon glyphicon-plus"></i> <span>Registrar Oferta Laboral</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Perfil/Create">
                                        <i class="glyphicon glyphicon-plus"></i> <span>Registrar Perfil</span>
                                    </a>
                                </li>
                            </ul>
                        </li>



                        <li>
                            <a><i class="glyphicon glyphicon-list"></i> Gestión de Clientes y Cuentas por Cobrar</a>
                            <ul>
                                <li>
                                    <a href="~/ClienteJuridico/Index">
                                        <i class="glyphicon glyphicon-plus"></i> <span>Mantenimiento Cliente Jurídico</span>
                                    </a>
                                    <a href="~/SolicitudDeCredito/Index">
                                        <i class="glyphicon glyphicon-plus"></i> <span>Consulta Solicitud de Crédito</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="glyphicon glyphicon-paperclip"></i> REPORTES</a>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="glyphicon glyphicon-plus"></i> <span>Consulta de Ficha Producto</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="glyphicon glyphicon-plus"></i> <span>Consulta de Trazabilidad</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="list-unstyled hidden-xs" id="sidebar-footer">
                        <li>
                            <a href="#"><h3>Boticas y Salud</h3></a>
                            <span>Dedicados a cuidate</span>
                        </li>
                    </ul>
                    <!-- tiny only nav-->
                    <ul class="nav visible-xs" id="xs-menu">
                        <li><a href="#featured" class="text-center"><i class="glyphicon glyphicon-list-alt"></i></a></li>
                        <li><a href="#stories" class="text-center"><i class="glyphicon glyphicon-list"></i></a></li>
                        <li><a href="#" class="text-center"><i class="glyphicon glyphicon-paperclip"></i></a></li>
                    </ul>
                </div>
                <!-- /sidebar -->
                <!-- main right col -->
                <div class="column col-sm-10 col-xs-11" id="main">
                    <!-- top nav -->
                    <div class="navbar navbar-blue navbar-static-top">
                        <div class="navbar-header">
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Menú</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            @*<a href="/" class="navbar-brand logo">b</a>*@
                            <a href="~/Home" class="navbar-brand logo">
                                <img src="~/Content/images/logo.png" class="img-responsive" />
                            </a>
                        </div>
                        <nav class="collapse navbar-collapse" role="navigation">
                            <form class="navbar-form navbar-left">
                                <div class="input-group input-group-sm" style="max-width:360px;">
                                    <input type="text" class="form-control" placeholder="Buscar" name="srch-term" id="srch-term">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="~/Home"><i class="glyphicon glyphicon-home"></i> Inicio</a>
                                </li>
                                @*<li>
                                        <a href="#" role="button" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> Productos</a>
                                    </li>*@
                            </ul>
                            <ul class="nav navbar-nav navbar-right" style="padding-right:10px">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="glyphicon glyphicon-user"></i> Usuario
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="">Perfil de usuario</a></li>
                                        <li role="separator" class="divider hidden-xs"></li>
                                        <li><a href="~/">Salir del sistema</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- /top nav -->
                    <div class="padding">
                        <div class="full col-sm-9">
                            @RenderBody()

                            @*<div class="row">
                                    <div class="col-sm-6">
                                        <a href="#">Twitter</a> <small class="text-muted">|</small> <a href="#">Facebook</a> <small class="text-muted">|</small> <a href="#">Google+</a>
                                    </div>
                                </div>*@
                            @*<div class="row" id="footer">
                                    <div class="col-sm-6">
                                        UPC
                                    </div>
                                    <div class="col-sm-6">
                                        <p>
                                            <a href="#" class="pull-right">©Copyright 2015</a>
                                        </p>
                                    </div>
                                </div>*@
                            <hr>
                            <h4 class="text-center">
                                <a href="#" >Sistema Integrado de Farmacia</a>
                            </h4>
                            <hr>
                        </div><!-- /col-9 -->
                    </div><!-- /padding -->
                </div>
                <!-- /main -->

            </div>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
