@model WebBS.Models.ALP_ORDEN_PREPARADO
@{
    ViewBag.Title = "Nueva Constancia Preparado";
}

<h2>Nueva Constancia Preparado</h2>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset disabled>
        <legend></legend>
        <div class="form-group disabled">
            <label for="txtNroOrden" class="col-sm-2 control-label">Nro Orden</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtNroOrden" placeholder="Nro Orden" value="@Html.DisplayFor(model => model.num_orden_preparado)">
            </div>
        </div>
        <div class="form-group disabled">
            <label for="txtNroOrden" class="col-sm-2 control-label">Nombre Preparado</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtNroOrden" placeholder="Nombre Preparado" value="@Html.DisplayFor(model => model.ALP_RECETA.nom_preparado)">
            </div>
        </div>
        <div class="form-group disabled">
            <label for="txtTecnico" class="col-sm-2 control-label">Técnico Farmacéutico</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtTecnico" placeholder="Encargado" value="@ViewBag.tecnico">
            </div>
        </div>
        <div class="form-group disabled">
            <label for="txtTecnico" class="col-sm-2 control-label">Técnico Laboratorista</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtTecnico" placeholder="Encargado" value="@ViewBag.empleado">
            </div>
        </div>
        <div class="form-group disabled">
            <label for="txtFecConstancia" class="col-sm-2 control-label">Fecha Constancia (dd/mm/yyyy)</label>
            <div class="col-sm-10">
                <input type="datetime" class="form-control" id="txtFecConstancia" value="@ViewBag.fechaConstancia">
            </div>
        </div>
    </fieldset>

    <fieldset>
        <div class="panel panel-default">
            <!-- Table -->
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Código Insumo</th>
                            <th>Insumo</th>
                            <th>Unidad de Medida</th>
                            <th>Cantidad</th>
                            <th>Cantidad Real</th>
                            <th>Diferencia</th>
                        </tr>
                    </thead>
                    <tbody id="tbConstanciaInsumoContent">
                        @foreach (var item in Model.ALP_ORDEN_PREPARADO_INSUMO)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ALP_INSUMO.cod_insumo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ALP_INSUMO.nom_insumo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ALP_INSUMO.unidad_medida)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cant_insumo)
                                </td>
                                <td>
                                    <div class="form-group disabled">
                                        <div class="col-sm-7">
                                            <input type="number" class="form-control" id="txtNroOrden" oninput="calcularDiferencia(this)" placeholder="Cantidad Utilizada" value="@Html.DisplayFor(model => item.cant_insumo)">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    0
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </fieldset>

    <br />

    <div class="row">
        <div class="col-md-1"><a id="btnGuardar" class="btn btn-primary">Guardar</a></div>
        <div class="col-md-1">@Html.ActionLink("Cancelar", "Index", "Constancia", new { @class = "btn btn-danger" })</div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/nuevaConstancia")
}

