@model WebBS.Models.RRH_PruebaAutoevaluacion

@{
    ViewBag.Title = "Resultados";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var conc = Model.RRH_Empleado.Nom_empleado + " " + Model.RRH_Empleado.Ap_paterno +" " + Model.RRH_Empleado.Ap_materno; 
}

<h2>Resultados</h2>

<div>
    <h4></h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Fecha Evaluación:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fec_evaluacion)
        </dd>

        

        <dt>
            @Html.DisplayName("Nombres:" )
        </dt>

        <dd>
            
            @Html.DisplayFor(model => conc)
        </dd>

        <dt>
            @Html.DisplayName("Puntaje Total:")
        </dt>

        <dd>

            @Html.DisplayFor(model => model.PuntajeTotal)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
