@model IEnumerable<WebBS.Models.RRH_PruebaAutoevaluacion>

@{
    ViewBag.Title = "Lista de Autoevaluaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Autoevaluaciones</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Fecha")
        </th>
        <th>
           
        </th>
        <th>
            @Html.DisplayName("Empleado")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PuntajeTotal)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fec_evaluacion)
        </td>
        <td>
        <td>
            @Html.DisplayFor(modelItem => item.RRH_Empleado.Nom_Completo)
        </td>
       <td>
            @Html.DisplayFor(modelItem => item.PuntajeTotal)
        </td>
       
        <td>
           
            @Html.ActionLink("Ver", "Details", new { id = item.Cod_prueba_autoevaluacion }) 
            
        </td>
    </tr>
}

</table>
