@model WebBS.Models.IMP_BITACORA_EVENTO

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IMP_BITACORA_EVENTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fec_evento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fec_evento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cod_usu_regi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_usu_regi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fec_usu_regi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fec_usu_regi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cod_usu_modi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_usu_modi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fec_usu_modi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fec_usu_modi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMP_DESADUANAJE.Cod_desaduanaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMP_DESADUANAJE.Cod_desaduanaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMP_EVENTO.Cod_evento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMP_EVENTO.Cod_evento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMP_PAGO_IMPORTACION.Cod_pago_importacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMP_PAGO_IMPORTACION.Cod_pago_importacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
