@using WebBS.Implement
@model WebBS.Models.IMP_BITACORA_EVENTO

@{
    ViewBag.Title = "Delete";
    WebBS.Models.IMP_DESADUANAJE iMP_DESADUANAJE = (WebBS.Models.IMP_DESADUANAJE)TempData["Desaduanaje"];
}

<h2>Eliminar Evento</h2>
<div id="divMensajeInformativo">
    <span class="fa fa-info-circle"></span>
    <span id="lblMensajeInformativo">Usted esta a punto de eliminar el evento registrado.</span>
</div>
<h3>¿Está seguro que desea eliminar el evento?</h3>
<div>
    <h4>Solicitud</h4>
    <table class="table-bordered">
        <tr class="rowGroup" data-toggle="collapse" data-target="#Panel_@iMP_DESADUANAJE.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Numero">
            <td colspan="8">
                <h4>Solicitud #: @iMP_DESADUANAJE.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Numero</h4>
                <h5>Fecha : @Html.Raw(iMP_DESADUANAJE.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Fec_emision.Value.ToString("dd/MM/yyyy"))</h5>
                <h5>Estado: @Html.Raw(TablaDefinicion.ObtenerValor(iMP_DESADUANAJE.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Estado, TablaDefinicion.EstadoSolicitud))</h5>
                <p>@iMP_DESADUANAJE.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Descripcion</p>
                @if (iMP_DESADUANAJE.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Estado == WebBS.Implement.DatosConstantes.EstadoSolicitud.Rechazado)
                {
                    <h4>Motivo del rechazo:</h4>
                    <p>@iMP_DESADUANAJE.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Observaciones</p>
                }
            </td>
        </tr>
    </table>

    <hr />
    <dl class="dl-horizontal">

        <dt>
            Título
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            Fecha del evento
        </dt>

        <dd>
            @Html.Raw(Model.Fec_evento.ToString("dd/MM/yyyy"))
        </dd>

        <dt>
            Tipo de evento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMP_EVENTO.IMP_TIPO_EVENTO.Nombre)
        </dd>

        <dt>
            Evento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMP_EVENTO.Nombre)
        </dd>

        <dt>
            Observaciones
        </dt>

        <dd>
            <p>@Html.DisplayFor(model => model.Observaciones)</p>
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.IMP_PAGO_IMPORTACION.Cod_pago_importacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IMP_PAGO_IMPORTACION.Cod_pago_importacion)
            </dd>*@

    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-primary" /> |
        <a class="btn btn-default" href="@Url.Action("Index", "BitacoraEventoDesaduanaje",new  { Id=Model.Cod_desaduanaje })">Cancelar</a>
    </div>
}
