@using WebBS.Implement
@model WebBS.Models.IMP_BITACORA_EVENTO

@{
    ViewBag.Title = "Edit";
    WebBS.Models.IMP_DESADUANAJE iMP_DESADUANAJE = (WebBS.Models.IMP_DESADUANAJE)TempData["Desaduanaje"];
}

<h2>Editar Evento</h2>
<div id="divMensajeInformativo">
    <span class="fa fa-info-circle"></span>
    <span id="lblMensajeInformativo">Complete los campos para registrar el evento.</span>
</div>
<hr />

@using (Html.BeginForm("Edit", "BitacoraEventoDesaduanaje", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Solicitud</h4>
        <table class="table-bordered">
            <tr class="rowGroup" data-toggle="collapse" data-target="#Panel_@iMP_DESADUANAJE.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Numero">
                <td colspan="8">
                    <h4>Solicitud #: @iMP_DESADUANAJE.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Numero</h4>
                    <h5>Fecha : @Html.Raw(iMP_DESADUANAJE.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Fec_emision.Value.ToString("dd/MM/yyyy"))</h5>
                    <h5>Estado: @Html.Raw(TablaDefinicion.ObtenerValor(iMP_DESADUANAJE.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Estado, TablaDefinicion.EstadoSolicitud))</h5>
                    <p>@iMP_DESADUANAJE.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Descripcion</p>
                    @if (iMP_DESADUANAJE.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Estado == WebBS.Implement.DatosConstantes.EstadoSolicitud.Rechazado)
                {
                        <h4>Motivo del rechazo:</h4>
                        <p>@iMP_DESADUANAJE.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Observaciones</p>
                    }
                </td>
            </tr>
        </table>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Cod_bitacora_evento)
        @Html.HiddenFor(model => model.Cod_desaduanaje)
        <input type="hidden" name="Cod_usu_regi" value="1" />
        <input type="hidden" name="Fec_usu_regi" value="@Model.Fec_usu_regi" />
        <input type="hidden" name="Cod_usu_modi" value="1" />
        <input type="hidden" name="Fec_usu_modi" value="@System.DateTime.Now.ToString("dd/MM/yyyy")" />
        <div class="form-group">
            <label class="control-label col-md-2" for="Descripcion">Título</label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", required = "", placeholder = "Título" } })
            </div>
            <div class="col-md-2">
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Fec_evento">Fecha de Evento</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.Fec_evento, new { htmlAttributes = new { @class = "form-control", id = "txtFechaEvento", required = "", placeholder = "Fecha de evento" } })
            </div>
            <div class="col-md-2">
                @Html.ValidationMessageFor(model => model.Fec_evento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Observaciones">Observaciones</label>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Observaciones, new { @class = "form-control", required = "", rows = "5", placeholder = "Agregar las observaciones o consideraciones" })
            </div>
            <div class="col-md-2">
                @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Cod_evento">Tipo de Evento</label>
            <div class="col-md-5">
                @Html.DropDownList("Cod_Tipo_Evento", null, htmlAttributes: new { @class = "form-control", id = "slcTipoEvento" })
            </div>
            <div class="col-md-2">
                @Html.ValidationMessageFor(model => model.Cod_evento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Cod_evento">Evento</label>
            <div class="col-md-5">
                @Html.DropDownList("Cod_evento", null, htmlAttributes: new { @class = "form-control", id = "slcEvento" })
            </div>
            <div class="col-md-2">
                @Html.ValidationMessageFor(model => model.Cod_evento, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Cod_pago_importacion, "Cod_pago_importacion", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Cod_pago_importacion", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Cod_pago_importacion, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a id="btnCancelar" class="btn btn-default" href="@Url.Action("Index", "BitacoraEventoDesaduanaje",new  { Id=Model.Cod_desaduanaje })">Cancelar</a>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Controls")
    <script>
        $(document).ready(function () {
            new Pe.GMD.UI.Web.Components.Calendar({
                inputFrom: $("#txtFechaEvento"),
                maxDateFrom: new Date
            });


            var mensaje = new Pe.GMD.UI.Web.Components.Message();

            var ajax = new Pe.GMD.UI.Web.Components.Ajax({
                action: '@Url.Action("ListarEvento")',
                autoSubmit: false,
                onSuccess: function (data) {

                    $('#slcEvento').empty();
                    $('<option/>').appendTo($('#slcEvento')).html('Seleccione');
                    $.each(data.Result, function (index, value) {
                        $('<option/>').appendTo($('#slcEvento')).val(value.Cod_evento).html(value.Nombre);
                    });
                }
            });


            $('#slcTipoEvento').change(function () {
                ajax.send({ id: $('#slcTipoEvento').val() });
            });

            var seleccionado = @Html.Raw(Model.IMP_EVENTO!=null? Model.IMP_EVENTO.Cod_tipo_evento : 0);

            $('#slcTipoEvento').val(seleccionado);
            $('#slcTipoEvento option:first-child').attr('value', '');
            $('#slcEvento option:first-child').attr('value', '');
        });

    </script>
}
