@model WebBS.Models.ALP_SOLICITUD_TRANSPORTE

@{
    ViewBag.Title = "Modificar";
}

<h2>Modificar Solicitud de Transporte</h2>

<input id="txtDefaultSucursal" type="hidden" value="@ViewBag.SelSucursal" />
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-12">Número Solicitud</label>
            <div class="col-md-12">
                <input id="txtNroSolicitud" class="form-control" placeholder="Nro Constancia" value="@Html.DisplayFor(model => model.num_solicitud)" disabled />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-12">Número Constancia</label>
            <div class="col-md-12">
                <input id="txtNroConstancia" class="form-control" placeholder="Nro Constancia" value="@Html.DisplayFor(model => model.num_constancia_preparado)" disabled />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-12">Fecha Solicitud</label>
            <div class="col-md-12">
                <input class="form-control" placeholder="Fecha Solicitud" value="@ViewBag.fechaSolicitud" disabled />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-12">Nombre Preparado</label>
            <div class="col-md-12">
                <input class="form-control" placeholder="Nombre Preparado" value="@Html.DisplayFor(model => model.ALP_CONSTANCIA_PREPARADO.ALP_ORDEN_PREPARADO.ALP_RECETA.nom_preparado)" disabled />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-12">Sucursal Orden</label>
            <div class="col-md-12">
                <input class="form-control" placeholder="Sucursal" value="@Html.DisplayFor(model => model.ALP_CONSTANCIA_PREPARADO.ALP_ORDEN_PREPARADO.RRH_SUCURSAL.Descripcion)" disabled />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-12">Sucursal Destino</label>
            <div class="col-md-12">
                @Html.DropDownList("Sucursales", new SelectList(ViewBag.Sucursales, "Value", "Text"), new { @id = "selSucursal", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-12">Químico Laboratorista</label>
            <div class="col-md-12">
                <input class="form-control" placeholder="Químico Laboratorista" value="@ViewBag.quimico" disabled />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-12">Observación</label>
            <div class="col-md-12">
                <textarea id="txtObs" class="form-control form-group" rows="19" placeholder="Obsevcación">@Html.DisplayFor(model => model.motivo)</textarea>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="text-left col-md-12">
        <a id="btnActualizar" class="btn btn-success">Actualizar</a>
        <a href="../Solicitud/ListaConstancia" class="btn btn-danger">Cancelar</a>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/ModificarSolicitud")
}

