@model WebBS.Models.OfertaLaboral

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OfertaLaboral</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuncionesAdicionales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuncionesAdicionales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiempoValidez)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiempoValidez)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perfil.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perfil.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sucursal.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sucursal.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdOfertaLaboral }) |
    @Html.ActionLink("Back to List", "Index")
</p>
