@model IEnumerable<WebBS.Models.OfertaLaboral>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuncionesAdicionales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TiempoValidez)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Perfil.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sucursal.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuncionesAdicionales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TiempoValidez)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Perfil.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sucursal.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdOfertaLaboral }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdOfertaLaboral }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdOfertaLaboral })
        </td>
    </tr>
}

</table>
