@model IEnumerable<WebBS.Models.GCC_EMPLEADO_INF_CREDITICIO>

@{
    ViewBag.Title = "Index";
}


<h2>Determinar Plan de Crédito</h2>

@using (Html.BeginForm("Index", "EmpleadoInfCrediticio", FormMethod.Get))
{
    @Html.AntiForgeryToken()

<div style="border:1px solid black;">
    <table style="width:100%">
        <tr><td>&nbsp;&nbsp;&nbsp;</td></tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>Nro. Solicitud</td>
            <td><input type="number" name="codSolicitudCredito"></td>
            <td>RUC</td>
            <td><input type="number" name="ruc"></td>
            
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>Fecha Solicitud Desde</td>
            <td><input type="date" name="fechaSolicitudInicio" /></td>
            <td>Hasta</td>
            <td><input type="date" name="fechaSolicitudFin" /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="submit" value="Buscar" class="btn btn-default" /></td>
            <td></td>
            <td></td>
        </tr>
        <tr><td>&nbsp;&nbsp;&nbsp;</td></tr>
    </table>
</div>
}

<table class="table">
    <tr>
        <th>
            Nro. Solicitud
        </th>
        <th>
            RUC
        </th>
        <th>
            Razón Social
        </th>
        <th>
            Fecha Solicitud
        </th>
        <th>
            Estado
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr style="background-color:white;">
        <td>
            @Html.DisplayFor(modelItem => item.GCC_INFORME_CREDITICIO.GCC_SOLICITUD_CREDITO.Num_solicitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GCC_INFORME_CREDITICIO.GCC_SOLICITUD_CREDITO.GCC_CLIENTE_JURIDICO.GCC_CLIENTE.Num_doc_identidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GCC_INFORME_CREDITICIO.GCC_SOLICITUD_CREDITO.GCC_CLIENTE_JURIDICO.Razon_social)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GCC_INFORME_CREDITICIO.GCC_SOLICITUD_CREDITO.Fec_solicitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>

        <td>
            @Html.ActionLink("Seleccionar", "Edit", new { id = item.Cod_registro }, new { @class = "btn-link" })
        </td>
    </tr>
}

</table>
<script type="text/javascript">
@if (TempData["message"] != null)
{

    <Text>
    alert('@TempData["message"]');
    </text>

}
</script>
