@using WebBS.Implement
@model WebBS.Models.IMP_DESADUANAJE

@{
    ViewBag.Title = "Solicitud de Desaduanaje";
    //var imp_adquisicion = @Model.IMP_SOLICITUD_IMPORTACION.IMP_ORDEN_COMPRA.IMP_SOLICITUD_IMPORTACION.FirstOrDefault(s => s.IMP_ADQUISICION.Count > 0).IMP_ADQUISICION.FirstOrDefault();
}

<h2>Solicitud de Desaduanaje</h2>
<div id="divMensajeInformativo">
    <span class="fa fa-info-circle"></span>
    <span id="lblMensajeInformativo">Usted Puede actualizar la solicitud.</span>
</div>
<hr />
<div>
    <table class="table-bordered">
        <tr class="rowGroup" data-toggle="collapse" data-target="#Panel_@Model.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Numero">
            <td colspan="8">
                <h4>Solicitud #: @Model.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Numero</h4>
                <h5>Fecha : @Html.Raw(Model.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Fec_emision.Value.ToString("dd/MM/yyyy"))</h5>
                <h5>Estado: @Html.Raw(TablaDefinicion.ObtenerValor(Model.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Estado, TablaDefinicion.EstadoSolicitud))</h5>
                <p>@Model.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Descripcion</p>
                @if (Model.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Estado == WebBS.Implement.DatosConstantes.EstadoSolicitud.Rechazado)
                {
                    <h4>Motivo del rechazo:</h4>
                    <p>@Model.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Observaciones</p>
                }
            </td>
        </tr>
    </table>

    <h4>Detalle de Solicitud</h4>
    <hr />
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a data-toggle="tab" href="#home">Orden de Compra</a></li>
        @if (Model.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Estado == WebBS.Implement.DatosConstantes.EstadoSolicitud.Pendiente ||
                Model.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Estado == WebBS.Implement.DatosConstantes.EstadoSolicitud.Proceso ||
                Model.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Estado == WebBS.Implement.DatosConstantes.EstadoSolicitud.Cerrado)
        {
            <li role="presentation"><a data-toggle="tab" href="#menu1">Agente de Aduanas</a></li>
            <li role="presentation"><a data-toggle="tab" href="#menu2">Cierre de solicitud</a></li>
        }
    </ul>

    <div class="tab-content">
        <div id="home" role="tabpanel" class="tab-pane fade in active">
            <br />

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    Número:
                </div>

                <div class="col-sm-3">
                    @Model.IMP_SOLICITUD_IMPORTACION.IMP_ORDEN_COMPRA.Num_orden_compra
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    Proveedor:
                </div>

                <div class="col-sm-3">
                    @Model.IMP_SOLICITUD_IMPORTACION.IMP_ORDEN_COMPRA.IMP_PROVEEDOR.Razon_social
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    Fecha:
                </div>

                <div class="col-sm-3">
                    @Model.IMP_SOLICITUD_IMPORTACION.IMP_ORDEN_COMPRA.Fec_orden_compra.Value.ToString("dd/MM/yyyy")
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    Origen:
                </div>

                <div class="col-sm-3">
                    @Model.IMP_SOLICITUD_IMPORTACION.IMP_ORDEN_COMPRA.IMP_PROVEEDOR.Ruc
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-6">
                    <h4>Productos</h4>
                </div>
            </div>
            <table class="table-bordered">
                <tr>
                    <th>
                        Item
                    </th>
                    <th>
                        Producto
                    </th>
                    <th>
                        Presentación
                    </th>
                    <th>Unidad de medida</th>
                    <th>Cantidad</th>
                </tr>
                @{
                    var itemNumero = 1;
                }
                @foreach (var item in Model.IMP_SOLICITUD_IMPORTACION.IMP_ORDEN_COMPRA.IMP_DETALLE_ORDEN_COMPRA)
                {
                    <tr>
                        <td>
                            @Html.Raw(itemNumero++)
                        </td>
                        <td>
                            @Html.Raw(item.DIS_Producto.Nom_producto)
                        </td>
                        <td>
                            @if (item.DIS_Producto.DIS_PresentacionProducto != null)
                            {
                                @Html.Raw(item.DIS_Producto.DIS_PresentacionProducto.Des_presentacion_producto)
                            }
                        </td>
                        <td>@Html.Raw(item.DIS_Producto.Unidad_medida)</td>
                        <td>
                            @Html.Raw(item.Cantidad)
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div id="menu1" role="tabpanel" class="tab-pane fade">
            <br />
            <div id="divSinAgente">
                @if (Model.IMP_SOLICITUD_IMPORTACION.IMP_PROVEEDOR == null)
                {
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <div class="form-group">
                                <button id="btnAsignarAgente" class="btn btn-primary">Agregar</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 text-center">

                            <h4>Aun no se ha agregado un agente de Aduana</h4>

                        </div>
                    </div>
                }
                else
                {
                    <script>
                        $(document).ready(function(){
                            $('#divAsignarAgente').show();
                        });

                    </script>
                }
            </div>
            <div id="divAsignarAgente" hidden>
                <div class="form-horizontal">

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Fec_accion">Agente :</label>
                        <div class="col-md-5">
                            <select id="slcAgente" class="form-control">
                                <option value="0">Seleccione</option>
                            </select>
                        </div>
                        <div class="col-md-2"><span class="text-danger">*</span></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Fec_accion">RUC :</label>
                        <div class="col-md-2">
                            <input id="txtRUC" type="text" class="form-control" readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Fec_accion">Telefono :</label>
                        <div class="col-md-2">
                            <input id="txtTelefono" type="text" class="form-control" readonly />
                        </div>
                    </div>
                    @if (Model.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Estado != WebBS.Implement.DatosConstantes.EstadoSolicitud.Cerrado)
                    {

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="button" id="btnGuardarAgente" value="Guardar" class="btn btn-primary" />

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div id="menu2" role="tabpanel" class="tab-pane fade">
            <br />
            <div id="divSinAgenteCerrar">
                @if (Model.IMP_SOLICITUD_IMPORTACION.IMP_PROVEEDOR == null)
                {
                    <div class="row">
                        <div class="col-sm-12 text-center">

                            <h4>Primero debe agregar un agente de aduana</h4>

                        </div>
                    </div>
                }
                else
                {
                    <script>
                        $(document).ready(function(){
                            $('#divCerrarSolicitud').show();
                        });

                    </script>
                }
            </div>
            <div id="divCerrarSolicitud" hidden>
                <div class="form-horizontal">



                    <div class="form-group">
                        <label class="control-label col-md-2" for="Fec_accion">Almacen de ADUANAS :</label>
                        <div class="col-md-3">
                            <select id="slcPuerto" class="form-control">
                                <option value="0">Seleccione</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Fec_accion">Fecha de retiro :</label>

                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Fec_retiro_mercaderia, new { htmlAttributes = new { @class = "form-control", id = "txtFechaRetiro", required = "", placeholder = "dd/mm/yyyy" } })
                        </div>


                    </div>

                    <div class="form-group">

                        <label class="control-label col-md-2" for="Fec_accion">DAM :</label>
                        <div class="col-md-5">
                            <input id="uplFile" type="file" name="inputFile" class="file" data-show-upload="false" required />
                        </div>
                        <div class="col-md-1">
                            @if (Model.IMP_DAM != null && Model.IMP_DAM.FirstOrDefault() != null && Model.IMP_DAM.FirstOrDefault().Archivo != null)
                            {
                                <a href="@Url.Content(Model.IMP_DAM.FirstOrDefault().Archivo)" class="control-table text-center" target="_blank"><i class="fa fa-file-archive-o"></i></a>
                            }
                        </div>
                    </div>


                    @if (Model.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Estado != WebBS.Implement.DatosConstantes.EstadoSolicitud.Cerrado)
                    {

                        <div class="form-group">
                            <label class="control-label col-md-2"></label>
                            <div class="col-md-2">
                                <input type="button" id="btnGuardarCierre" value="Solo Guardar" class="btn btn-primary" />
                            </div>
                            <div class="col-md-8 text-right">

                                <input type="button" id="btnGuardarFinalizarCierre" value="Guardar y finalizar solicitud" class="btn btn-primary" />


                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12 text-right">
        <a id="btnCancelar" class="btn btn-default" href="@Url.Action("Index", "SolicitudDesaduanaje")">Salir</a>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/Controls")
    <script>


        $(document).ready(
            function(){
                var lista= @Html.Raw(Json.Encode(TempData["Proveedor"]));
                var listaAlmacenAduanas= @Html.Raw(Json.Encode(TempData["ListaAlmacenAduanas"]));
                var mensaje = new Pe.GMD.UI.Web.Components.Message();

                $.each(lista , function(index,value){
                    $('<option/>').appendTo($('#slcAgente')).val(value.Cod_proveedor).html(value.Razon_social);
                });

                $.each(listaAlmacenAduanas , function(index,value){
                    $('<option/>').appendTo($('#slcPuerto')).val(value.Cod_almacen_aduanas).html(value.Nombre);
                });

                $('#slcAgente').change(function(){
                    $('#txtTelefono').val('');
                    $('#txtRUC').val('');
                    $.each(lista , function(index,value){
                        if(value.Cod_proveedor ==$('#slcAgente').val())
                        {
                            $('#txtTelefono').val(value.Telefono);
                            $('#txtRUC').val(value.Ruc);
                        }
                    });
                });
                var seleccionado = @Html.Raw(Model.IMP_SOLICITUD_IMPORTACION.IMP_PROVEEDOR != null ? Model.IMP_SOLICITUD_IMPORTACION.IMP_PROVEEDOR.Cod_proveedor : 0);
                //var seleccionadoPuerto = @@Html.Raw(Model.Cod_Puerto.HasValue? Model.Cod_Puerto : 0);@@
                var seleccionadoPuerto = @Html.Raw(Model.Cod_almacen_aduanas.HasValue? Model.Cod_almacen_aduanas : 0);
                var fecRetiro = ''; //Html.Raw(Model.Fec_retiro_mercaderia);

                $('#slcAgente').val(seleccionado);
                $('#slcAgente').change();
                $('#slcPuerto').val(seleccionadoPuerto);

                var ajax = new Pe.GMD.UI.Web.Components.Ajax({
                    action: '@Url.Action("RechazarSolicitud")',
                    autoSubmit: false,
                    onSuccess: function () {

                        setTimeout(function () {
                            mensaje.Information({
                                title: 'Rechazar Solicitud de Desaduanaje',
                                message: 'Se cerro la actividad correctamente',
                                onClose: function () {
                                    window.location.href = $('#btnCancelar').attr("href");
                                }
                            });
                        }, 1000);
                    }
                });
                var ajaxAgente = new Pe.GMD.UI.Web.Components.Ajax({
                    action: '@Url.Action("GuardarAgent")',
                    autoSubmit: false,
                    onSuccess: function () {
                        $('#divSinAgenteCerrar').hide();
                        $('#divCerrarSolicitud').show();
                        setTimeout(function () {
                            mensaje.Information({
                                title: 'Solicitud de Desaduanaje',
                                message: 'Se asignó el agente de aduana correctamente'
                            });
                        }, 500);
                    }
                });

                var ajaxCierre = new Pe.GMD.UI.Web.Components.Ajax({
                    action: '@Url.Action("CerrarSolicitud")',
                    autoSubmit: false,
                    hasFile: true,
                    contentType: false,
                    processData: false,
                    onSuccess: function () {
                        setTimeout(function () {
                            mensaje.Information({
                                title: 'Cerrar Solicitud de Desaduanaje',
                                message: 'La acción finalizó correctamente'
                            });
                        }, 500);
                    }
                });

                $('#btnAsignarAgente').click(function () {
                    mensaje.Confirmation({
                        title: 'Asignar Agente',
                        message: 'Al asignar un agente de aduana da por conforme la solicitud. La solicitud ya no podra ser rechaza.<br/> ¿Desea Continuar? ',
                        onAccept: function () {
                            $('#divSinAgente').empty();
                            $('#divAsignarAgente').show();
                        }
                    });
                });

                $('#btnProcederRechazo').click(function () {
                    if($('#txtObservacion').val()=="" || $('#txtObservacion').val()==null){
                        mensaje.Warning({
                            title: 'Rechazar Solicitud de Desaduanaje',
                            message: 'Debe especificar un motivo'
                        });
                    }
                    else{
                        mensaje.Confirmation({
                            title: 'Rechazar solicitud',
                            message: '¿Está seguro de proceder con el rechazo? ',
                            onAccept: function () {
                                ajax.send({
                                    codigoSolicitud:@Model.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Cod_solicitud,
                                    motivo : $('#txtObservacion').val()});
                            }
                        });
                    }
                });


                $('#btnGuardarAgente').click(function () {
                    if($('#slcAgente').val()=="0"){
                        mensaje.Warning({
                            title: 'Agente de Aduana',
                            message: 'Debe seleccionar el agente'
                        });
                    }
                    else{
                        mensaje.Confirmation({
                            title: 'Asignar agente de aduana',
                            message: '¿Está seguro de proceder con la asignación? ',
                            onAccept: function () {
                                ajaxAgente.send({
                                    codigoSolicitud:@Model.IMP_SOLICITUD_IMPORTACION.Cod_solicitudimportacion,
                                    codigoProveedor : $('#slcAgente').val()
                                });
                            }
                        });
                    }
                });

                function GuardarCierre(finalizar){
                    var actividad ={
                        codigoSolicitud:@Model.Cod_desaduanaje,
                        codigoPuerto : $('#slcPuerto').val(),
                        fechaRetiro : $('#txtFechaRetiro').val(),
                        finalizar : finalizar
                    };

                    var files = $('#uplFile')[0].files;
                    var Frmdata = new FormData();
                    for (var i = 0; i < files.length; i++) {
                        Frmdata.append(files[i].name, files[i]);
                    };
                    $.each(actividad, function (index, value) {
                        Frmdata.append(index, value);
                    });
                    ajaxCierre.send(Frmdata);
                }

                $('#btnGuardarCierre').click(function(){
                    GuardarCierre(false);
                });

                $('#btnGuardarFinalizarCierre').click(function(){
                    if($('#slcPuerto').val()=="0" ){
                        mensaje.Warning({
                            title: 'Cierre Solicitud',
                            message: 'Todos los campos de la pestaña son requeridos'
                        });
                    }
                    else{
                        mensaje.Confirmation({
                            title: 'Cierre Solicitud',
                            message: '¿Desea dar por cerrada la solicitud de desaduanaje?',
                            onAccept: function () {
                                GuardarCierre(true);
                            }
                        });
                    }
                });
                new Pe.GMD.UI.Web.Components.Calendar({
                    inputFrom: $("#txtFechaRetiro"),
                    maxDateFrom: new Date()
                });

                $('[data-toggle="tooltip"]').tooltip();

                var cerrada=@Html.Raw(Json.Encode(Model.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Estado == WebBS.Implement.DatosConstantes.EstadoSolicitud.Cerrado));

                if(cerrada){
                    $('#slcAgente').attr('disabled','disabled');
                    $('#slcPuerto').attr('disabled','disabled');
                    $('#txtFechaEmbarque').attr('disabled','disabled');
                    $('#txtFechaLlegada').attr('disabled','disabled');
                }

            }
            );



    </script>
}

