@model WebBS.Models.ALP_CONSTANCIA_PREPARADO
@{
    ViewBag.Title = "Registrar Libro de Receta";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Datos Generales</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <label for="txtNroConstancia" class="col-md-4 control-label">Nro Constancia</label>
                <div class="col-md-8">
                    <input type="text" disabled class="form-control" id="txtNroConstancia" value="@Html.DisplayFor(model => model.num_constancia_preparado)">
                </div>
            </div>
            <div class="col-md-6">
                <label for="txtNombrePreparado" class="col-md-4 control-label">Nombre de preparado</label>
                <div class="col-md-8">
                    <input type="text" disabled class="form-control" id="txtNombrePreparado" value="@Html.DisplayFor(model => model.ALP_ORDEN_PREPARADO.ALP_RECETA.nom_preparado)">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="txtMedico" class="col-md-4 control-label">Médico</label>
                <div class="col-md-8">
                    <input type="text" disabled class="form-control" id="txtMedico" value="@Html.DisplayFor(model => model.ALP_ORDEN_PREPARADO.ALP_RECETA.nom_medico)">
                </div>
            </div>
            <div class="col-md-6">
                <label for="txtColegiatura" class="col-md-4 control-label">Nro. Colegiatura &nbsp;&nbsp;&nbsp;</label>
                <div class="col-md-8">
                    <input type="text" disabled class="form-control" id="txtColegiatura" value="@Html.DisplayFor(model => model.ALP_ORDEN_PREPARADO.ALP_RECETA.num_colegiatura)">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="txtLaboratorista" class="col-md-4 control-label">Qupimico Laboratorista</label>
                <div class="col-md-8">
                    <input type="text" disabled class="form-control" id="txtLaboratorista" value="@ViewBag.quimico">
                </div>
            </div>
            <div class="col-md-6">
                <label for="txtLaboratorista" class="col-md-4 control-label">Técnico Laboratorista</label>
                <div class="col-md-8">
                    <input type="text" disabled class="form-control" id="txtLaboratorista" value="@ViewBag.laboratorista">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="txtFecElaboracion" class="col-md-4 control-label">Fecha Elaboración</label>
                <div class="col-md-8">
                    <input type="text" disabled class="form-control" id="txtFecElaboracion" value="@ViewBag.fechaElaboracion">
                </div>
            </div>
            <div class="col-md-6">
                <label for="txtFecVencimiento" class="col-md-4 control-label">Fecha de Vencimiento</label>
                <div class="col-md-8">
                    <input type="text" disabled class="form-control" id="txtFecVencimiento" value="@ViewBag.fechaVencimiento">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Libro de Recetas</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Código Insumo</th>
                    <th>Insumo</th>
                    <th>Unidad de Medida</th>
                    <th>Concentración</th>
                    <th>Cantidad Utilizada</th>
                </tr>
            </thead>
            <tbody id="tbConstanciaInsumoContent">
                @foreach (var item in Model.ALP_CONSTANCIA_PREPARADO_INSUMO)
                {

                    if (item.ALP_INSUMO.psicotropico == false)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ALP_INSUMO.cod_insumo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ALP_INSUMO.nom_insumo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ALP_INSUMO.unidad_medida)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cant_insumo_orden)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.cant_insumo_constancia)
                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>

</div>

@if (@ViewBag.psicotropico > 0) 
{
    <div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Libro Psicotrópicos y Estupefacientes</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <label for="txtPaciente" class="col-md-3 control-label">Paciente</label>
                <div class="col-md-9">
                    <input type="text" disabled class="form-control" id="txtPaciente" value="@Html.DisplayFor(model => model.ALP_ORDEN_PREPARADO.ALP_RECETA.nom_paciente)">
                </div>
            </div>
            <div class="col-md-6">
                <label for="txtDni" class="col-md-3 control-label">DNI</label>
                <div class="col-md-9">
                    <input type="text" disabled class="form-control" id="txtDni" value="@Html.DisplayFor(model => model.ALP_ORDEN_PREPARADO.ALP_RECETA.num_docu_paciente)">
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Código Insumo</th>
                    <th>Insumo</th>
                    <th>Unidad de Medida</th>
                    <th>Concentración</th>
                    <th>Cantidad Utilizada</th>
                </tr>
            </thead>
            <tbody id="tbConstanciaInsumoContent">
                @foreach (var item in Model.ALP_CONSTANCIA_PREPARADO_INSUMO)
                {
                    
                    if(item.ALP_INSUMO.psicotropico == true)
                    {
                        <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ALP_INSUMO.cod_insumo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ALP_INSUMO.nom_insumo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ALP_INSUMO.unidad_medida)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cant_insumo_orden)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.cant_insumo_constancia)
                        </td>
                    </tr>    
                    }
                    
                }
            </tbody>
        </table>
    </div>
</div>
}



<div class="row">
    <div class="col-md-1"><a id="btnGuardar" class="btn btn-primary">Guardar</a></div>
    <div class="col-md-1">@Html.ActionLink("Cancelar", "Lista", "Constancia", new { @class = "btn btn-danger" })</div>
</div>    

@section Scripts {
    @Scripts.Render("~/bundles/NuevoLibroReceta")
}
