@model WebBS.Models.Chofer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Chofer</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.IdChofer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdChofer)
                @Html.ValidationMessageFor(model => model.IdChofer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NroDoc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NroDoc)
                @Html.ValidationMessageFor(model => model.NroDoc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombres, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombres)
                @Html.ValidationMessageFor(model => model.Nombres)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellidos, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellidos)
                @Html.ValidationMessageFor(model => model.Apellidos)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NroTelefono, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NroTelefono)
                @Html.ValidationMessageFor(model => model.NroTelefono)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NroLicencia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NroLicencia)
                @Html.ValidationMessageFor(model => model.NroLicencia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CateLicencia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CateLicencia)
                @Html.ValidationMessageFor(model => model.CateLicencia)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
