@model WebBS.Models.Chofer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Chofer</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NroDoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NroDoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NroTelefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NroTelefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NroLicencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NroLicencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CateLicencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CateLicencia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdChofer }) |
    @Html.ActionLink("Back to List", "Index")
</p>
