@model WebBS.Models.GCC_INFORME_CREDITICIO

@{
    ViewBag.Title = "Registrar Informe Créditicio";
}

<h2>Registrar Informe Crediticio</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2" for="Num_doc_identidad">RUC</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.GCC_SOLICITUD_CREDITO.GCC_CLIENTE_JURIDICO.GCC_CLIENTE.Num_doc_identidad)*
                @Html.ValidationMessageFor(model => model.GCC_SOLICITUD_CREDITO.GCC_CLIENTE_JURIDICO.GCC_CLIENTE.Num_doc_identidad, null, new { @class = "text-danger" }) <button type="submit" formaction="/InformeCrediticio/BuscarCliente">Buscar Cliente</button>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="GCC_CLIENTE_JURIDICO_Razon_social">Razón social</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.GCC_SOLICITUD_CREDITO.GCC_CLIENTE_JURIDICO.Razon_social, new { @readonly = "readonly", Style = "background:#D3D3D3;" })*
                @Html.ValidationMessageFor(model => model.GCC_SOLICITUD_CREDITO.GCC_CLIENTE_JURIDICO.Razon_social, null, new { @class = "text-danger" })
            </div>
        </div>   

        <div class="form-group">
            @Html.LabelFor(model => model.GCC_SOLICITUD_CREDITO.Num_solicitud, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.GCC_SOLICITUD_CREDITO.Num_solicitud, new { @readonly = "readonly", Style = "background:#D3D3D3;" })*
                @Html.ValidationMessageFor(model => model.GCC_SOLICITUD_CREDITO.Num_solicitud)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GCC_SOLICITUD_CREDITO.Fec_solicitud, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.GCC_SOLICITUD_CREDITO.Fec_solicitud, new { id = "datepicker", @readonly = "readonly", Style = "background:#D3D3D3;" })*
                @Html.ValidationMessageFor(model => model.GCC_SOLICITUD_CREDITO.Fec_solicitud, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group editor-multiline-field">
            @Html.LabelFor(model => model.GCC_SOLICITUD_CREDITO.Observacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.GCC_SOLICITUD_CREDITO.Observacion, new { @readonly = "readonly", Style = "background:#D3D3D3;" })
                @Html.ValidationMessageFor(model => model.GCC_SOLICITUD_CREDITO.Observacion, null, new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group" style="display: none;">
            @Html.LabelFor(model => model.GCC_SOLICITUD_CREDITO.Cod_solicitud_credito, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.GCC_SOLICITUD_CREDITO.Cod_solicitud_credito)
                @Html.ValidationMessageFor(model => model.GCC_SOLICITUD_CREDITO.Cod_solicitud_credito)
            </div>
        </div>

        <div class="form-group" style="display: none;">
            @Html.LabelFor(model => model.GCC_SOLICITUD_CREDITO.Cod_cliente, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.GCC_SOLICITUD_CREDITO.Cod_cliente)
                @Html.ValidationMessageFor(model => model.GCC_SOLICITUD_CREDITO.Cod_cliente)
            </div>
        </div>

        <div class="form-group" style="display: none;">
            @Html.LabelFor(model => model.GCC_SOLICITUD_CREDITO.GCC_INFORME_CREDITICIO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.GCC_SOLICITUD_CREDITO.GCC_INFORME_CREDITICIO)
                @Html.ValidationMessageFor(model => model.GCC_SOLICITUD_CREDITO.GCC_INFORME_CREDITICIO)
            </div>
        </div>

        <div class="form-group" style="display: none;">
            @Html.LabelFor(model => model.GCC_SOLICITUD_CREDITO.GCC_CLIENTE_JURIDICO.Categoria, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.GCC_SOLICITUD_CREDITO.GCC_CLIENTE_JURIDICO.Categoria)
                @Html.ValidationMessageFor(model => model.GCC_SOLICITUD_CREDITO.GCC_CLIENTE_JURIDICO.Categoria)
            </div>
        </div>

        <div class="form-group" style="display: none;">
            @Html.LabelFor(model => model.GCC_SOLICITUD_CREDITO.Codigo_politica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.GCC_SOLICITUD_CREDITO.Codigo_politica)
                @Html.ValidationMessageFor(model => model.GCC_SOLICITUD_CREDITO.Codigo_politica)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GCC_SOLICITUD_CREDITO.Nivel_riesgo_str, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.GCC_SOLICITUD_CREDITO.Nivel_riesgo_str, new SelectList(ViewBag.RiesgoSelection, "Value", "Text"), "  -----Selecionar-----  ")
                @Html.ValidationMessageFor(model => model.GCC_SOLICITUD_CREDITO.Nivel_riesgo_str)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GCC_SOLICITUD_CREDITO.Capacidad_crediticia_str, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.GCC_SOLICITUD_CREDITO.Capacidad_crediticia_str, new { @readonly = "readonly", Style = "background:#D3D3D3;" }) <button type="submit" formaction="/InformeCrediticio/EvaluarCliente">EC</button>
                @Html.ValidationMessageFor(model => model.GCC_SOLICITUD_CREDITO.Capacidad_crediticia_str)
            </div>
        </div>

        <div class="form-group">

            <label class="control-label col-md-2">Determinar Linea de Crédito</label>

            <div class="col-md-10">
                <button type="submit" formaction="/InformeCrediticio/DeterminarLineaCredito">LC</button>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GCC_SOLICITUD_CREDITO.Rango_credito, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.GCC_SOLICITUD_CREDITO.Rango_credito, new { @readonly = "readonly", Style = "background:#D3D3D3;" })
                @Html.ValidationMessageFor(model => model.GCC_SOLICITUD_CREDITO.Rango_credito)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GCC_SOLICITUD_CREDITO.Cantidad_credito, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.GCC_SOLICITUD_CREDITO.Cantidad_credito, new { @readonly = "readonly", Style = "background:#D3D3D3;" })
                @Html.ValidationMessageFor(model => model.GCC_SOLICITUD_CREDITO.Cantidad_credito)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

