@model WebBS.Models.GCC_INFORME_CREDITICIO

@{
    ViewBag.Title = "Confirmar Anulación";
}

<h2>Confirmar Anulación</h2>

<h3>Seguro que desea anular el Informe Crediticio?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">        

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_informe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_informe)
        </dd>

        <dt>
            RUC
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GCC_SOLICITUD_CREDITO.GCC_CLIENTE_JURIDICO.GCC_CLIENTE.Num_doc_identidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GCC_SOLICITUD_CREDITO.GCC_CLIENTE_JURIDICO.Razon_social)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GCC_SOLICITUD_CREDITO.GCC_CLIENTE_JURIDICO.Razon_social)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nivel_riesgo_str)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nivel_riesgo_str)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacidad_crediticia_str)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacidad_crediticia_str)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fec_ultima_evaluacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fec_ultima_evaluacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GCC_SOLICITUD_CREDITO.Rango_credito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GCC_SOLICITUD_CREDITO.Rango_credito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto_linea_credito_eval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto_linea_credito_eval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto_linea_credito_aprob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto_linea_credito_aprob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_actual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_actual)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="@Url.Content("~/InformeCrediticio/Index")"><input type="button" value="<< Regresar" class="btn btn-default" /></a>
            <input type="submit" value="Anular" class="btn btn-default" />
        </div>
    }
</div>
