@model WebBS.Models.GCC_INFORME_CREDITICIO

@{
    ViewBag.Title = "Generar Contrato";
}
<h2>Generar Contrato</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <hr />
            <div class="col-md-10" style="display: none;">
                @Html.EditorFor(model => model.Cod_informe_crediticio)
            </div>
            <div class="col-md-10" style="display: none;">
                @Html.EditorFor(model => model.Cod_solicitud_credito)
            </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="GCC_SOLICITUD_CREDITO.Num_solicitud">Nro Solicitud</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.GCC_SOLICITUD_CREDITO.Num_solicitud, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
            </div>


            <label class="control-label col-md-3" for="GCC_SOLICITUD_CREDITO.Fec_solicitud">Fecha Solicitud</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.GCC_SOLICITUD_CREDITO.Fec_solicitud, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">RUC / Razón Social</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.GCC_SOLICITUD_CREDITO.GCC_CLIENTE_JURIDICO.GCC_CLIENTE.Num_doc_identidad, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
            </div>
            <div class="col-md-5">
                @Html.EditorFor(model => model.GCC_SOLICITUD_CREDITO.GCC_CLIENTE_JURIDICO.Razon_social, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="GCC_SOLICITUD_CREDITO.GCC_CLIENTE_JURIDICO.GCC_CLIENTE.Direccion">Dirección</label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.GCC_SOLICITUD_CREDITO.GCC_CLIENTE_JURIDICO.GCC_CLIENTE.Direccion, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="GCC_SOLICITUD_CREDITO.Cod_cliente">Estado</label>
            <div class="col-md-2">
                @*@Html.EditorFor(model => model.GCC_SOLICITUD_CREDITO.GCC_EMPLEADO_SOL_CREDITO.Last().Estado, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })*@
                @Html.TextBox("Aprobado", "Aprobado", new { @class = "form-control", @readonly = "true" } )
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="GCC_SOLICITUD_CREDITO.Observacion">Observaciones</label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.GCC_SOLICITUD_CREDITO.Observacion, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="model.Fecha_informe">Fecha Informe</label>
            <div class="col-md-2">
                @*@Html.EditorFor(model => model.Fecha_informe.ToShortDateString(), new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })*@
                @Html.TextBox("fecInf",Model.Fecha_informe.ToShortDateString(), new { @class = "form-control", @readonly = "true" } )
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="model.Fecha_informe">Nivel de Riesgo</label>
            <div class="col-md-2">
                @if (Model.Nivel_riesgo == "A")
                {
                    @Html.TextBox("Alto", "Alto", new { @class = "form-control", @readonly = "true" })
                }
                else if (Model.Nivel_riesgo == "M")
                {
                    @Html.TextBox("Alto", "Alto", new { @class = "form-control", @readonly = "true" })
                }
                else if (Model.Nivel_riesgo == "B")
                {
                    @Html.TextBox("Bajo", "Bajo", new { @class = "form-control", @readonly = "true" })
                }
            </div>

            <label class="control-label col-md-3">Capacidad Crediticia</label>
            <div class="col-md-2">
                @if (Model.Capacidad_crediticia == "A")
                {
                    @Html.TextBox("Alto", "Alto", new { @class = "form-control", @readonly = "true" })
                }
                else if (Model.Capacidad_crediticia == "M")
                {
                    @Html.TextBox("Alto", "Alto", new { @class = "form-control", @readonly = "true" })
                }
                else if (Model.Capacidad_crediticia == "B")
                {
                    @Html.TextBox("Bajo", "Bajo", new { @class = "form-control", @readonly = "true" })
                }
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="GCC_POLITICA_CREDITO.GCC_PLAN_CREDITO.Rango_inicio">Rango del Plan de Crédito</label>
            <div class="col-md-3">
                @Html.TextBox("rango","<<" + Model.GCC_POLITICA_CREDITO.GCC_PLAN_CREDITO.Rango_inicio.ToString("#,##0.00") + " a " + Model.GCC_POLITICA_CREDITO.GCC_PLAN_CREDITO.Rango_fin.ToString("#,##0.00") + ">>", new { @class = "form-control" , @readonly = "true", @style = "text-align:center" } )
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="model.Monto_linea_credito_eval">Línea de Crédito Evaluada</label>
            <div class="col-md-2">
                @Html.TextBox("eval",Model.Monto_linea_credito_eval.ToString("#,##0.00"), new { @class = "form-control", @readonly = "true", @style = "text-align:right" })
            </div>

            <label class="control-label col-md-3" for="model.Monto_linea_credito_aprob">Línea de Crédito Aprobada</label>
            <div class="col-md-2">
                @Html.TextBox("aprob", Model.Monto_linea_credito_aprob.ToString("#,##0.00"), new { @class = "form-control", @readonly = "true", @style = "text-align:right; color:#FF0000" })
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-3"></label>
            <div class="col-md-5">
                <a href="@Url.Content("~/InformeCrediticio/GenerarContratoIndex")"><input type="button" value="<< Regresar" class="btn btn-default" /></a>
                <input type="submit" value="Generar Contrato" class="btn btn-default" />
                @*<input type="button" value="Print" onclick="window.print();return false;" />*@
            </div>
        </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}