@model PagedList.IPagedList<WebBS.Models.GCC_INFORME_CREDITICIO>
@using PagedList.Mvc;
@using PagedList;

    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Consulta de Informe Crediticio";
    }

    <h2>Consulta de Informe Crediticio</h2>

    @using (Html.BeginForm("Index", "InformeCrediticio", FormMethod.Get))
    {
        @Html.AntiForgeryToken()

        <div style="border:1px solid black;">
            <table style="width:100%">
                <tr><td>&nbsp;&nbsp;&nbsp;</td></tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>Nro. Inf. Créd.</td>
                    <td><input type="number" name="nroInformeCredito"></td>
                    <td>RUC</td>
                    <td><input type="number" name="ruc"></td>
                    <td>Estado</td>
                    <td><select name="estado"><option></option><option value="R">Registrado</option><option value ="M">Modificado</option><option value="A">Aprobado</option><option value="O">Anulado</option><option value="Z">Rechazado</option></select></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>Fecha Inicio Informe Crediticio</td>
                    <td><input type="date" name="fechaInformeInicio" min="1970-01-01" max="2038-12-31" /></td>
                    <td>Hasta</td>
                    <td><input type="date" name="fechaInformeFin" min="1970-01-01" max="2038-12-31" /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><input type="submit" value="Buscar" class="btn btn-default" /></td>
                    <td><button type="submit" value="Registrar" class="btn btn-default" formaction="/InformeCrediticio/Create">Nuevo</button></td>
                    <td></td>
                </tr>
                <tr><td>&nbsp;&nbsp;&nbsp;</td></tr>
            </table>

        </div>

    }

    <table class="table">
        <tr>
            <th>
                Nro Inf. Créd.
            </th>
            <th>
                RUC
            </th>
            <th>
                Razón Social
            </th>
            <th>
                Nivel de Riesgo
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr style="background-color:white;">
                <td>
                    @Html.DisplayFor(modelItem => item.Cod_informe_crediticio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GCC_SOLICITUD_CREDITO.GCC_CLIENTE_JURIDICO.GCC_CLIENTE.Num_doc_identidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GCC_SOLICITUD_CREDITO.GCC_CLIENTE_JURIDICO.Razon_social)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nivel_riesgo_str)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado_actual)
                </td>
                <td>
                    @Html.ActionLink("Detalle", "Details", new { id = item.Cod_informe_crediticio }, new { @class = "btn-link" })


                    @if (item.Estado_actual == "Registrado" || item.Estado_actual == "Modificado")
                    {
                        @Html.ActionLink(" | Anular", "Delete", new { id = item.Cod_informe_crediticio }, new { @class = "btn-link" })
                    }
                </td>
            </tr>
        }

    </table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script type="text/javascript">
@if (TempData["message"] != null)
{

    <Text>
    alert('@TempData["message"]');
    </text>

}
</script>
