@using WebBS.Implement;
@model IEnumerable<WebBS.Models.IMP_ADQUISICION>

@{
    ViewBag.Title = "Index";
}

<h2>Solicitud de Adquisición</h2>

<div>
    <div id="divMensajeInformativo">
        <span class="fa fa-info-circle"></span>
        <span id="lblMensajeInformativo">Usted puede consultar las solicitudes de adquisición.</span>
    </div>
    <hr />
    <div class="row">
        @using (Html.BeginForm("Index", "SolicitudAdquisicion", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-horizontal">

                <div class="form-group">
                    <label class="control-label col-md-2" for="OrdenCompra">Orden de Compra</label>
                    <div class="col-md-2">
                        <input name="OrdenCompra" type="number" class="form-control" placeholder="Número de OC"   />
                    </div>
                    <div class="col-md-1"></div>
                    <label class="control-label col-md-2 text-right" >Fecha solicitud</label>
                    <label class="control-label col-md-1" for="FechaSolicitudDesde">Desde:</label>
                    <div class="col-md-2">
                        <input id="txtFechaSolicitudDesde" name="FechaSolicitudDesde" class="form-control" placeholder="dd/mm/yyyy" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="NumeroSolicitud">Número Solicitud</label>
                    <div class="col-md-2">
                        <input name="NumeroSolicitud" class="form-control" placeholder="Número de Solicitud" />
                    </div>
                    <div class="col-md-3"></div>
                    <label class="control-label col-md-1" for="Fec_accion">Hasta</label>
                    <div class="col-md-2">
                        <input id="txtFechaSolicitudHasta" name="FechaSolicitudHasta" class="form-control" placeholder="dd/mm/yyyy" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 text-right">
                        <input type="submit" value="Consultar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>


    <h4>Resultado de la consulta</h4>
    <hr />
    <table class="table-bordered">
        <tr>
            <th>
                Número
            </th>
            <th>
                Fecha de Solicitud
            </th>
            <th>
                Orden de compra
            </th>
            <th>
                Proveedor
            </th>
            <th>
                Origen
            </th>
            <th>
               Estado
            </th>
           
            <th>
                
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Fec_emision)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IMP_SOLICITUD_IMPORTACION.IMP_ORDEN_COMPRA.Num_orden_compra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IMP_SOLICITUD_IMPORTACION.IMP_ORDEN_COMPRA.IMP_PROVEEDOR.Razon_social)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IMP_SOLICITUD_IMPORTACION.IMP_ORDEN_COMPRA.IMP_PROVEEDOR.Origen)
                </td>
                <td>
                    @Html.Raw(TablaDefinicion.ObtenerValor(item.IMP_SOLICITUD_IMPORTACION.IMP_SOLICITUD.Estado, TablaDefinicion.EstadoSolicitud))
                </td>
                <td>
                    <a class="control-table text-center" href="@Url.Action("Details", new  { Id=item.Cod_adquisicion })">

                        <i class="fa fa-caret-square-o-right"></i>
                    </a>
                </td>
            </tr>
        }

    </table>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Controls")
    <script>
        new Pe.GMD.UI.Web.Components.Calendar({
            inputFrom: $("#txtFechaSolicitudDesde"),
            maxDateFrom: new Date(),
            inputTo: $("#txtFechaSolicitudHasta"),
            maxDateTo: new Date()
        });

    </script>
    $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
    });
}
